.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: max(20vh, 100px) 48px;
  gap: 8em;
  overflow-y: auto;
}

.contact > h1 {
  font-size: min(1.125em + 2vw, 2em);
  font-weight: 300;
  text-align: center;
}

.contact form {
  display: grid;
  width: 66vw;
  grid-gap: 3em;
  grid-template-columns: auto auto;
  max-width: 800px;
}

.contact textarea {
  grid-column: 1 / span 2;
}

.contact button[type=submit] {
  grid-column: 1 / span 2;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .contact form {
    grid-template-columns: auto;
  }
  .contact textarea, .contact button[type=submit] {
    grid-column: 1;
  }
}