.input {
  all: unset;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--white);
}

.input:focus {
  border-color: var(--yellow);
}

.input::placeholder {
  text-transform: uppercase;
  font-family: var(--montserrat-font);
  letter-spacing: 2px;
  font-size: 0.8em;
}