.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  padding: min(2vw, 1rem) 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  font-family: var(--quicksand-font);
}

.navbar > a:first-child {
  font-family: 'var(--montserrat-font)';
  letter-spacing: 2px;
  font-size: x-large;
}
 
.navbar > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbarLinkItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yellowDot {
  background-color: var(--yellow);
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.navbar a {
  padding: 0.5em;
  width: 100px;
  text-align: center;
  letter-spacing: 2px;
}
.navbar a:hover, .navbar a:focus { color: var(--yellow) }