.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.textContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-weight: 400;
  padding: 2em;
  grid-column: 2;
}

.textContainer span {
  font-family: var(--montserrat-font);
  font-size: min(1rem, 4vw);
  letter-spacing: 4px;
}
.textContainer h1 {
  font-size: calc(2rem + 3vw);
  font-family: var(--montserrat-font);
  font-weight: 400;
  letter-spacing: -1px;
}
.textContainer h2 {
  color: var(--yellow);
  font-weight: 400;
  font-size: calc(1rem + 1vw);
}

@media only screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
  }

  .textContainer {
    align-self: flex-start;
    margin-top: 12vh;
    text-align: center;
    grid-column: 1;
  }
}