.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home > h1 {
  grid-column: 2;
  align-self: center;
  padding: 1em;
  min-width: 460px;
  max-width: 100vw;
  font-weight: 400;
}

@media only screen and (max-width: 460px) {
  .container > h1 {
    align-self: flex-start;
    margin-top: 15vh;
  }
}