html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: var(--quicksand-font), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  overflow: hidden;
}

#__next {
  height: 100%;
}

main {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  line-height: 1.4;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

h1 { 
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

p, h1, h2, h3, h4, h5, h6 { margin: unset }

*:focus {
  outline: none;
}
*:focus-visible {
  outline: 2px solid var(--yellow);
  outline-offset: 0.25em;
}

::selection {
  background-color: var(--green);
  color: var(--dark-blue);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  border: 1px solid var(--white); 
  background: repeating-linear-gradient(45deg, white, 2px, transparent 2px, transparent 12px);
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}